
/* Global Fonts */
:root {
    --default-font: "Inter"
    /* Edit this Later */
}

/* Global Colors */
:root {
    /* This color will be applied to the entire website and individual sections */
    --background-color: #ffffff;
    /* Default Color is the color used for the majority of the text content */
    --default-color: #3d4348;
    /* Heading Color - This color is used for titles, headings and secondary elements. */
    --heading-color: #3e5055;
    /* Accent Color - This is the main accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out. */
    --accent-color: #388da8;
    /* Contrast Color - This is a color used for text when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors. */
    --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
    /* Nav Color - This is the default color of the main navbar links. */
    --nav-color: #313336;
  
    /* Nav Hover Color - This color is applied to main navbar links when they are hovered over. */
    --nav-hover-color: #77b6ca;
  
    /* Nav Dropdown Background Color - This color is used as the background for dropdown boxes that appear when hovering over primary navigation items. */
    --nav-dropdown-background-color: #ffffff;
  
    /* Nav Dropdown Color - This color is used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-color: #313336;
  
    /* Nav Dropdown Hover Color - Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
    --nav-dropdown-hover-color: #77b6ca;
  }

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
  }

  body {
    color: var(--default-color);
    background-color: var(--background-color);
  }

  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }

  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    color: var(--heading-color);
    }


/* Global header */
.header {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 10px;
    transition: all 0.5s;
    z-index: 997;
}

.header .navbar .logo {
    line-height: 1;
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}


.top-nav .logo {
  text-decoration: none;
}

.top-nav .logo span {
  font-size:26px;
  font-weight: 700;
  color: #012970;
}

.top-nav .search-bar {
  min-width: 360px;
  padding: 0 20px;
  width: 600px;
}

.top-nav .search-form {
  width: 100%;
}

.top-nav .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.top-nav .search-form input:focus,
.top-nav .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}


.top-nav .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
/* icons far right */
.top-nav .header-nav ul {
  list-style: none;
}


.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}


.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
  text-decoration: none;
}
.header-nav .messages a {
  text-decoration: none;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}


.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}


.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}


.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}


/* Desktop Navigation */

@media (min-width: 1200px) {
    .navbar {
        padding: 0;

    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a,
    .navbar a:focus {
        color: var(--nav-color);
        padding: 18px 15px;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navbar li:last-child a {
      padding-right: 0;
    }

    .navbar li:hover>a,
    .navbar .active,
    .navbar .active:focus {
      color: var(--nav-hover-color);
    }

    .navbar .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);

    }

    .navbar .dropdown ul li {
        min-width: 200px;
      }
      .navbar .dropdown ul a {
        text-decoration: none;
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
      }
    
      .navbar .dropdown ul a i {
        font-size: 12px;
      }
      
        .navbar .dropdown ul a:hover,
        .navbar .dropdown ul .active:hover,
        .navbar .dropdown ul li:hover>a {
        color: var(--nav-dropdown-hover-color);
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }

      .navbar .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
      }

      .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
      }


      .navbar .megamenu {
        position: static;
      }
      
  .navbar .megamenu ul {
    margin: 0;
    padding: 10px;
    background: var(--nav-dropdown-background-color);
    box-shadow: 0px 0px 20px color-mix(in srgb, var(--default-color), transparent 90%);
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
  }
  .navbar .megamenu ul li {
    flex: 1;
  }
  .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover>a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--nav-dropdown-color);
  }

  .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: var(--nav-dropdown-hover-color);
  }

  .navbar .megamenu:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
}


/* Mobile Navigation */

@media (max-width: 1199px) {
    /* .custom-toggler{
        border: none;
        outline: none;
        padding: 0;
        background: none;
        box-shadow: none;
    } */
    .navbar-toggler-icon {
        color: var(--nav-color);
        font-size: 18px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }
    .header {
        position: absolute;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.1);
        transition: 0.3s7;
    }

    .navbar ul {
        /* position: absolute; */
        inset: 60px 20px 20px 20px;
        color: #fff;
        /* padding: 10px 0; */
        /* margin: 0; */
        border-radius: 6px;
        background-color: var(--nav-dropdown-background-color);
        /* overflow-y: auto; */
        /* transition: 0.3s; */
        /* z-index: 9998; */
        /* box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%); */

    }
    .navbar a,
    .navbar a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navbar a i:hover,
    .navbar a:focus i:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus {
      color: var(--nav-dropdown-hover-color);
    }

    
  .navbar .active i,
  .navbar .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navbar .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    transition: all 0.5s ease-in-out;
    box-shadow: none;
  }

  .navbar .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navbar .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  
}



/* ==================== sidebar ====================== */


/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
